.container {
    margin: 0px;
}

.forecastDay {
    padding: 5px;
    margin: 5px;
}

.hidden {
    display: none;
}

.lowUV {
    background-color: greenyellow;
}

.moderateUV {
    background-color: yellow;
}

.highUV {
    background-color: orange;
}

.veryHighUV {
    background-color: red;
}

.extremeUV {
    background-color: purple;
}